.root {
    /* ei toimi -fx-font-family: 'Helvetica'; */
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-focus-color: black;
    -fx-faint-focus-color: grey;

}

.button {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 3px;
    -fx-pref-width: 170px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.choice-box {
    -fx-border-width: 1px;
    -fx-pref-width: 90px;
    -fx-border-color: black;
}

.progress-bar {
  -fx-accent: #5F9EA0;
}



